<%- include('partials/header.ejs') %>

	<body style="background-color: #9EA2C6; color: rgb(255, 255, 255)">
		<div class="container text-center mt-5">
			<h2><i>PW3 - CRUD HOSPITAL</i></h2>
			<hr>
			<h5><i>Atividade de programção web, criação de um CRUD envolvendo médico e especialidade.</i></h5>
			<h5 class="mb-4"><i>Feito com html, bootstrap e ÓDIO</i></h5>
			<div class="text-center">
				<a type="button" class="btn btn-dark mr-5" href="especialidade">Especialidade</a>
				<a type="button" class="btn btn-light mr-5" href="medico">Médico</a>
			</div>
		</div>
	</body>

<%- include('partials/footer.ejs') %>

</html>